body
{
    font-family:Arial;
    
}

a:visited
{
    color: #c06c84;
    text-decoration:none;
    
}

a:link
{
    text-decoration:none;
    color: #c55675;
    padding:5px;
    
    
}

table   
{
    border:solid #8754b4;
    border-spacing:10px;
    padding: 10px;
    background-color: #355c7d;
    

}

th
{
    padding:20px;
    color: #c55272;
    
}

tr
{
    padding:20px;
    color: #c06c84;

}

td
{
    padding:20px;
    
}

.descarga
{
	height:170px;
	border:solid 1px;
	width:510px;
	position:relative;
	bottom:220px;
	left:700px;
}

.google 
{
	border:solid 1px;

   
}

.apple
{
	border:solid 1px;
	
}
