.Victor{
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin: center;
    margin-left:35%  ;
}

.Victor fieldset{
    position: relative;
    background-color: pink;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 2em;
    display: none;
    transition: display 2s;
}

.Victor ul{
    background-color: pink;
    border: 1px solid black;
    border-style: none;
    width: 520px;
    height: 30px;
    border-radius: 2em;
    margin: auto;
    align-items: initial
}


.Victor a{
    color: black;
    text-decoration: none;
    transition: 2s;
}

.Victor li{
    display: inline;
    padding-left: 3px;
    padding-right:3px ;
    content: hidden;
}

.Victor table,th{
    border: none;
   
}

.Victor input[type=submit]{
    
    border-radius: 1em ;
    
}

.Jorge body
{
    font-family:Arial;
    
}

.Jorge a:visited
{
    color: #c06c84;
    text-decoration:none;
    
}

.Jorge a:link
{
    text-decoration:none;
    color: #c55675;
    padding:5px;
    
    
}

.Jorge table   
{
    border:solid #8754b4;
    border-spacing:10px;
    padding: 10px;
    background-color: #355c7d;
    

}

.Jorge th
{
    padding:20px;
    color: #c55272;
    
}

.Jorge tr
{
    padding:20px;
    color: #c06c84;

}

.Jorge td
{
    padding:20px;
    
}

.Jorge .descarga
{
	height:170px;
	border:solid 1px;
	width:510px;
	position:relative;
	bottom:220px;
	left:700px;
}

.Jorge .google 
{
	border:solid 1px;

   
}

.Jorge .apple
{
	border:solid 1px;
	
}







