body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea {
    width: 100%;
    height: 150px;
  }
  
  #opiniones {
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }
