div{
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin: center;
    margin-left:35%  ;
}

fieldset{
    position: relative;
    background-color: pink;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 2em;
    display: none;
    transition: display 2s;
}

ul{
    background-color: pink;
    border: 1px solid black;
    border-style: none;
    width: 520px;
    height: 30px;
    border-radius: 2em;
    margin: auto;
    align-items: initial
}


a{
    color: black;
    text-decoration: none;
    transition: 2s;
}

li{
    display: inline;
    padding-left: 3px;
    padding-right:3px ;
    content: hidden;
}

table,th{
    border: none;
   
}

input[type=submit]{
    
    border-radius: 1em ;
    
}





